:host {
  background: #333;
  z-index: 2147483647;
  width: 500px;
  height: 300px;
  border: 1px solid gray;
}
:host > div {
  position: relative;
  margin: 0;
  user-select: none;
  color: black;
  overflow: hidden;
  touch-action: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
:fullscreen {
  touch-action: none;
  border: none;
}

/* ---- controller ---- */

:fullscreen.show-controllers .controller {
  opacity: 0.5;
}
:fullscreen.show-controllers .controller:hover {
  opacity: 0.9;
}
:fullscreen .controller {
  opacity: 0;
}

.controller * {
  pointer-events: none;
}
.show-controllers .controller * {
  pointer-events: auto;
}
button {
  font-family: "Segoe UI Emoji";
  color: #333333;
  background: #cccccc;
  cursor: pointer;
  border: 1px outset;
}
button.disabled {
  cursor: default;
  opacity: 0.4;
}
button.controller.disabled {
  opacity: 0;
}
.show-controllers button.controller.disabled:hover {
  opacity: 0.2;
  cursor: default;
}

/* ---- info ---- */

.info {
  background: white;
  position: relative;
  top: 0;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 1;
}
:fullscreen .info {
  position: absolute;
}
.info .book-title select {
  user-select: text;
  justify-content: flex-start;
  border: none;
  appearance: none;
  padding: 5px 0;
}
:fullscreen .info .book-title select {
  padding: 10px 0;
}
.info .info-ctrl {
  display: flex;
  justify-content: space-evenly;
}
.info .view-ctrl {
  display: flex;
  justify-content: flex-end;
}
.info .book-title {
  flex-grow: 1;
}

.info button {
  padding: 5px 15px;
}
:fullscreen .info button {
  padding: 10px 35px;
}

.info button {
  line-height: 18px;
  height: 100%;
}
.info .info-title {
  padding-right: 15px;
}

/* ---- pages ---- */

.pages {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform-origin: 0 0;
  cursor: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}
:fullscreen .pages {
  position: absolute;
}

.show-controllers .pages {
  cursor: auto;
}
.page {
  width: 50%;
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
}
.img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}
.img.broken-image {
  background-image: url(broken.svg) !important;
  background-size: 40%;
}
.img.no-image {
  background-image: linear-gradient(45deg, black, #888) !important;
}
.img.loading-image {
  animation: loading 0.5s ease-in alternate infinite;
}
@keyframes loading {
  0% {
    background-color: #333;
  }
  100% {
    background-color: #888;
  }
}

.left-page {
  background-position-x: right;
}
.right-page {
  background-position-x: left;
}
.single .left.page {
  display: none;
}
.single .right.page {
  width: 100%;
}
.single .right-page {
  background-position-x: center;
}

/* ---- move-button ---- */

.move-button {
  position: absolute;
  font-size: 40px;
  height: 80%;
  top: 10%;
}
.left-button {
  left: 60px;
}
.right-button {
  right: 60px;
}
